/*#region SITEMASTER*/


/*#region COLORS*/

/*#region DARK THEME*/

    /*Gives dark color to body */
    .darkbody {
        background-color: #404040;
        color: white;
    }

    /* Add a grey background to dropdown links on hover */
    .darkdd-content a:hover {
        background-color: #ddd;
        color: black;
    }

    .darkdd .darkdropbtn {
        outline: none;
        color: white;
        background-color: inherit;
    }

    /* Colors from the links inside the dropdown list */
    .darkdd-content {
        background-color: #404040;
        color: white;
    }

    /* Main div */
    .darkprincipal {
        background-color: #4a4a4a;
    }

    /* Topnav color */
    .darktopnav {
        background-color: #333;
    }



    .darktopnav a {
        color: #f2f2f2;
    }

        /* Add a dark background on topnav links and the dropdown button on hover */
        .darktopnav a:hover, .darkdd:hover .darkdropbtn {
            background-color: #555;
            color: white;
        }


/*#endregion DARK THEME*/

/*#region LIGHT THEME*/

    /* Gives light color to body */
    .lightbody {
        background-color: #e6e6e6;
        color: black;
    }

    .lightdd-content a:hover {
        background-color: #444;
        color: white;
    }

    .lightdd .lightdropbtn {
        outline: none;
        color: black;
        background-color: inherit;
    }

    /* Colors from the links inside the dropdown list*/
    .lightdd-content {
        background-color: white;
        color: black;
    }

    .lightprincipal {
        background-color: #e3e3e3;
    }

    /* Topnav color */
    .lighttopnav {
        background-color: #ccc;
    }

    /* Topnav a's colors */
    .lighttopnav a, .lightdropbtn {
        color: black;
    }

    /* Add a light background on topnav links and the dropdown button on hover */
    .lighttopnav a:hover, .lightdd:hover {
        background-color: #eee;
        color: black;
    }

/*#endregion LIGHT THEME*/

/*#region More colors*/

/* Add an active class to highlight the current page, and adds margin to the left */
.active {
    background-color: #4CAF50;
    color: white;
}

/*#endregion More colors*/


/*#endregion COLORS*/

/*#region POSITION*/

    /* Dropdown container - needed to position the dropdown content */
    .dd {
        float: left;
        overflow: hidden;
    }

    /* Style the dropdown button to fit inside the topnav */
    .dd .dropbtn {
        font-size: 17px;
        border: none;
        padding: 14px 16px;
        font-family: inherit;
        margin: 0;
    }

    /* Style the dropdown content (hidden by default) */
    .dd-content {
        display: none;
        position: absolute;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    }

    /* Style the links inside the dropdown */
    .dd-content a {
        float: none;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: left;
    }


    /* Show the dropdown menu when the user moves the mouse over the dropdown button */
    .dd:hover .dd-content {
        display: block;
    }

    /* Centers the footer */
    footer {
        width: 26%;
        padding-left: 37%;
    }

    /* Adds padding to the links inside the footer */
    footer a {
        padding: 10px;
    }

/* Puts margins to main div */
.principal {
    border-radius:7px;
    margin: 3% 14% 3% 14%;
    padding: 10px 1% 10px 1%;
}

/* Add a black background color to the top navigation */
.topnav {
    overflow: hidden;
}

    /* Style the links inside the navigation bar */
    .topnav a {
        text-align: center;
        float: left;
        display: block;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
    }

    /* Hide the link that should open and close the topnav on small screens */
    .topnav .icon {
        display: none;
    }

.topnav2 {
    margin-left: 12%;
}

/*#endregion POSITION*/

/*#region FONTS*/

    .principal {
        font-size:16px;
    }

    .titulo {
        font-size:45px;
        padding-bottom:15px;
    }   

/*#endregion FONTS*/

/*#region EXTRAS*/

/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 600px) {
    .topnav a:not(:first-child), .dropdown .dropbtn {
        display: none;
    }

    .topnav a.icon {
        float: right;
        display: block;
    }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 600px) {
    .topnav.responsive {
        position: relative;
    }

        .topnav.responsive a.icon {
            position: absolute;
            right: 0;
            top: 0;
        }

        .topnav.responsive a {
            float: none;
            display: block;
            text-align: left;
        }

        .topnav.responsive .dropdown {
            float: none;
        }

        .topnav.responsive .dropdown-content {
            position: relative;
        }

        .topnav.responsive .dropdown .dropbtn {
            display: block;
            width: 100%;
            text-align: left;
        }
}


/*#endregion EXTRAS*/

/*#endregion SITEMASTER*/

/*#region SOURCE*/

.parrafoprincipal {
    width:60%;
}

/*#endregion SOURCE*/